:root {
  --font-size-h1: 3.05rem;
  --font-size-h2: 2.44rem;
  --font-size-h3: 1.95rem;
  --font-size-h4: 1.56rem;
  --font-size-h5: 1.25rem;
  --font-size-small: 0.8rem;

  --button-radii: 12px;
}

html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}


h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-weight: 800;
  margin-top: 0;
  font-size: var(--font-size-h1);
}

h2,
.text-size-h2 { 
  font-size: var(--font-size-h2); 
}

h3,
.text-size-h3 { 
  font-size: var(--font-size-h3); 
}

h4,
.text-size-h4 { 
  font-size: var(--font-size-h4); 
}

h5,
.text-size-h5 { 
  font-size: var(--font-size-h5); 
}

small,
.text-small {
  font-size: var(--font-size-small);
}

img {
    width: 100%;
    height: auto;
}

.cta-button {
    display: inline-flex;
    background-color: #00bb2c;
    color: #fff;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: var(--button-radii);
    text-decoration: none;
}
.cta-button:hover {
    filter: brightness(1.2);
}
.cta-button:active {
    filter: brightness(0.8);
}
