:root {
  --white: white;
  --black: black;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
  --medium-slate-blue: #955df1;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section-2 {
  background-image: linear-gradient(0deg, #031f88, #2e459ced 10%, #dde0ef 59%, #fff), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  display: flex;
}

.section-2.center {
  background-color: #0d00ff;
  background-image: linear-gradient(#0000, #63636300 66%, #ffffffcf 81%, #fff), linear-gradient(90deg, #0000008f, #0011428a 15%, #0040ff7a), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

.section-2.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section-2.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-2.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-2.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section-2.full-img {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section-2.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-2.wide.img {
  background-color: #fff;
  background-image: linear-gradient(#fff0, #fff0 57%, #fff), linear-gradient(#fffffff7, #fffffff7), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, 158px;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.section-2.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-2.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.col {
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  flex: 0 auto;
  width: 25vw;
}

.col.padding {
  border-style: none;
  flex: 1;
  max-width: 50%;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  background-color: #0000;
  border: 1px #000;
  width: 100%;
  height: auto;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: flex;
}

.nav-inner {
  border-bottom: 1px #ffffff1a;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: #0000;
  font-family: Open Sans, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  border: 1px #000;
  flex: 0 auto;
  width: auto;
  max-width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
  overflow: visible;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  width: 33.33%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.feature-content.placement {
  display: block;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #00bb2c;
  border-radius: 16px;
  min-width: 50px;
  margin-right: 0;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
  position: static;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: #0000;
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: #0000;
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px #fff3;
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  background-image: url('../images/richard-01.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 8600px;
}

.div-block-3._02 {
  background-image: url('../images/richard-02.jpg');
  background-size: 100vw;
}

.div-block-3._03 {
  background-image: url('../images/richard-03.jpg');
  background-size: 100vw;
  height: 6000px;
}

.div-block-4 {
  flex-direction: column;
  align-items: center;
  width: 65%;
  max-width: 440px;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  align-items: flex-start;
  width: 100vw;
  position: relative;
}

.wrap {
  text-align: center;
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.title {
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  text-transform: lowercase;
  word-break: normal;
  border-bottom: 1px #2e2e2e;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}

.title.white {
  color: #fff9;
  border-bottom-color: #fff6;
}

.image-2 {
  flex: none;
  width: auto;
  max-width: 200%;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 0 0 20px 20px #fff3;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: auto;
  height: 150px;
  display: flex;
}

.button-wrap {
  justify-content: center;
  width: auto;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  background-color: #c6ced3;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.thumb-food._01 {
  background-image: url('../images/bg-001_1.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('../images/bg-001.jpg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('../images/bg-003.jpg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  color: #fff;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  background-color: #acb1b4;
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 80px;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  width: 340px;
  height: 80px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-content {
  z-index: 90;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vh;
  position: relative;
}

.feature-wrap {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 0 auto 5vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.feature-wrap.logos {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  border-style: none;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 50vw;
  display: flex;
}

.black {
  color: #000;
}

.hero-subhead {
  color: #fff;
  max-width: 60%;
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.black-bar {
  background-color: #2a2326;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  max-width: 100%;
  height: 35px;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: #ffffff4d;
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  height: 70px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  background-color: #0000;
  width: 90vw;
  height: 60vh;
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  background-color: #d3d3d3;
  flex: none;
  width: 30px;
  height: 1px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  font-size: 60px;
  line-height: 90px;
}

.float {
  border: 4px solid #09a4ec;
  width: 40vw;
  height: 50vh;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.image-licensing {
  background-color: #0000000d;
  border: 1px solid #0000001a;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  flex: 1;
  max-width: 600px;
}

.heading-3 {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  text-shadow: -7px -7px 20px #ffffffab, 7px 7px 20px #ffffffcf;
}

.text-block-3 {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: -8px -8px 12px #fff3, 8px 8px 20px #ffffff9e;
  flex: 1;
  order: 0;
  align-self: center;
  font-size: 25px;
  line-height: 25px;
}

.image-5 {
  max-width: 12%;
  padding-left: 10px;
  padding-right: 10px;
}

.link-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area" 50px
                 "."
                 / minmax(200px, .25fr) .25fr .25fr .25fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.link-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  vertical-align: baseline;
  object-fit: fill;
  grid-template: "Area"
  / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  display: block;
  position: static;
  overflow: hidden;
}

.image-6 {
  max-width: 50px;
  max-height: 50px;
  padding-top: 0;
}

.div-block-13 {
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: start;
  place-items: start;
  max-width: 300px;
  margin-top: 30px;
  margin-right: 0;
  padding-left: 0;
  font-size: 3px;
  display: grid;
}

.heading-4 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.paragraph-2 {
  color: #f3f3f3;
}

.link-3 {
  color: #02b;
  -webkit-text-stroke-color: #000;
}

.image-7 {
  max-width: 10%;
}

.section-3 {
  background-image: linear-gradient(#ffffffed, #fffffff2), url('../images/arrow.a52c4c40.png');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 5vh;
  padding-bottom: 60px;
  display: flex;
}

.section-3.center {
  background-color: #cf0063;
  background-image: linear-gradient(#0000, #63636300 66%, #ffffffcf 81%, #fff), linear-gradient(90deg, #0000008f, #0011428a 15%, #0040ff7a), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section-3.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section-3.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-3.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-3.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section-3.full-img {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section-3.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-3.wide.img {
  background-color: #fff;
  background-image: linear-gradient(#fff0, #fff0 57%, #fff), linear-gradient(#fffffff7, #fffffff7), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, 158px;
  padding-bottom: 10vh;
}

.section-3.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-3.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.section-4 {
  background-image: linear-gradient(#031f88, #2e459ced 7%, #dde0ef 16%, #fff), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  display: flex;
}

.section-4.center {
  background-color: #cf0063;
  background-image: linear-gradient(#0000, #63636300 66%, #ffffffcf 81%, #fff), linear-gradient(90deg, #0000008f, #0011428a 15%, #0040ff7a), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section-4.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section-4.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-4.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-4.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section-4.full-img {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section-4.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-4.wide.img {
  background-color: #fff;
  background-image: linear-gradient(#fff0, #fff0 57%, #fff), linear-gradient(#fffffff7, #fffffff7), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, 158px;
  padding-bottom: 10vh;
}

.section-4.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-4.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.image-8 {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  display: block;
}

.image-9 {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  display: block;
}

.section-5 {
  background-image: linear-gradient(#031f88, #2e459ced 6%, #fff 13%, #fff), url('../images/IMG_8851.png');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  display: flex;
}

.section-5.center {
  background-color: #cf0063;
  background-image: linear-gradient(#0000, #63636300 66%, #ffffffcf 81%, #fff), linear-gradient(90deg, #0000008f, #0011428a 15%, #0040ff7a), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section-5.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section-5.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-5.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-5.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section-5.full-img {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section-5.wide {
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-5.wide.img {
  background-color: #fff;
  background-image: linear-gradient(#fff0, #fff0 57%, #fff), linear-gradient(#fffffff7, #fffffff7), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, 158px;
  padding-bottom: 10vh;
}

.section-5.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-5.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.heading-5 {
  color: #000;
}

.section-6 {
  background-image: linear-gradient(#fffffff2, #fffffff2), url('../images/arrow.a52c4c40.png');
  background-position: 0 0, 0 0;
  background-size: auto, 114px;
}

.link-block-3 {
  background-color: #fff;
  border: 2px solid #3071ff;
  border-radius: 18px;
  flex: 0 auto;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.image-10 {
  vertical-align: text-bottom;
  flex-flow: row;
  max-width: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
}

.text-block-4 {
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.section-7 {
  background-image: linear-gradient(#0048ff70, #0048ff70), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 14vh;
  margin-top: 0;
  display: flex;
}

.heading-6 {
  text-align: left;
}

.title-2 {
  color: #fff;
  text-align: left;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  text-transform: lowercase;
  word-break: normal;
  border-bottom: 1px #2e2e2e;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  padding-bottom: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  display: flex;
}

.title-2.white {
  color: #fff9;
  border-bottom-color: #fff6;
}

.section-8 {
  margin-bottom: 5vh;
}

.section-2-copy {
  background-image: linear-gradient(0deg, #031f88, #2e459ced 10%, #dde0ef 59%, #fff), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  display: flex;
}

.section-2-copy.center {
  background-color: #cf0063;
  background-image: linear-gradient(#0000, #63636300 66%, #ffffffcf 81%, #fff), linear-gradient(90deg, #0000008f, #0011428a 15%, #0040ff7a), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0, 0 0;
  background-size: auto, auto, auto;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

.section-2-copy.column {
  justify-content: space-between;
  height: auto;
  padding: 15vh 10vw;
  display: flex;
}

.section-2-copy.column.devices {
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-2-copy.column.faq {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.section-2-copy.cta {
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section-2-copy.full-img {
  background-color: #0000;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section-2-copy.wide {
  background-color: #1b1b1b;
  background-image: linear-gradient(#082089, #082089);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-2-copy.wide.img {
  background-color: #fff;
  background-image: linear-gradient(#fff0, #fff0 57%, #fff), linear-gradient(#fffffff7, #fffffff7), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;
  background-size: auto, auto, 158px;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.section-2-copy.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(135deg, #fc0a7e, #602bb6);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section-2-copy.grid-imgs {
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 50vh;
  display: flex;
}

.italic-text {
  color: #fff;
}

.section-9 {
  background-color: #fff;
  background-image: linear-gradient(#444444ed, #444444ed), url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 0 0, 0 0;
  background-size: auto, 158px;
  margin-top: 0;
  padding-top: 40px;
}

.slide {
  object-fit: contain;
  max-width: 700px;
  max-height: 700px;
}

.image-11 {
  margin-left: auto;
  margin-right: auto;
}

.slider {
  height: 500px;
}

.slide-2 {
  object-fit: contain;
}

.slider-2 {
  width: 75%;
  height: 400px;
}

.slide-3 {
  background-image: url('../images/glif-stonks-meme-v0-1-devve-tilfwsxc4tr8r1lusz891syh.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-4 {
  background-image: url('../images/glif-stonks-meme-v0-1-c1e5657e-az9voz7kp7ksquy796k4n4t5.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.slide-5 {
  background-image: url('../images/glif-stonks-meme-v0-1-c1e5657e-az9voz7kp7ksquy796k4n4t5.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-6 {
  background-image: url('../images/glif-stonks-meme-v0-1-animaniacs16-tiuyvnv4wzu1wwojj0gmm9zj.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-7 {
  background-image: url('../images/glif-stonks-meme-v0-1-maxim-7ad7-n7fffncrzzmm4oy9uxvpn65e.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-8 {
  background-image: url('../images/glif-stonks-meme-v0-1-ioh-n8mdh5jxlq14kb4r4xx07j8l.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-3 {
  background-color: #fff;
}

.slide-9 {
  background-image: url('../images/glif-stonks-meme-v0-1-stn-sachqh1rm1qozjl81c4by9yl.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-10 {
  background-image: url('../images/glif-stonks-meme-v0-1-ioh-vuiy2j0wyqbrl1h1vullte74.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-2 {
  outline-offset: 0px;
  -webkit-text-fill-color: transparent;
  background-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
  border: 1px #000;
  outline: 3px solid #fff;
}

.icon-3 {
  -webkit-text-fill-color: transparent;
  background-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
}

.title-3 {
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  text-transform: lowercase;
  word-break: normal;
  border-bottom: 1px #2e2e2e;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}

.title-3.white {
  color: #fff9;
  border-bottom-color: #fff6;
}

.button-2 {
  text-align: center;
  background-color: #0059ff;
  background-image: linear-gradient(#0026ff, #00cc4b);
  border-radius: 13px;
  height: 40px;
}

.feature-wrap-2 {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin: 0 auto 0;
  padding-bottom: 0;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap-2.reverse {
  flex-direction: row-reverse;
}

.feature-wrap-2.logos {
  border-style: none;
  height: auto;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 5vh;
}

.feature-wrap-2.icons {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #fff;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.div-block-14, .div-block-15 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.div-block-16 {
  margin-top: 4vh;
}

.div-block-17 {
  margin-top: 5vh;
}

.text-block-5 {
  color: #fff;
  margin-top: 20px;
}

.image-12 {
  max-width: 40%;
}

.div-block-18 {
  margin-top: 5vh;
}

.paragraph-3 {
  color: #000;
}

.div-block-19 {
  margin-top: 5vh;
}

.heading-8 {
  color: #000;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.title-4 {
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  text-transform: lowercase;
  word-break: normal;
  border-bottom: 1px #2e2e2e;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  display: inline-block;
}

.title-4.white {
  color: #fff9;
  border-bottom-color: #fff6;
}

.feature-wrap-3 {
  border: 1px #000;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.feature-wrap-3.reverse {
  flex-direction: row-reverse;
}

.feature-wrap-3.logos {
  border-style: none;
  height: auto;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 5vh;
}

.feature-wrap-3.icons {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3vh;
  padding-left: 0;
  padding-right: 0;
}

.feature-content-2 {
  border: 1px #000;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  overflow: visible;
}

.feature-content-2.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content-2.icons {
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  width: 33.33%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content-2.icons.numbers {
  width: 25%;
}

.paragraph-4 {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-13 {
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.hero-image-2 {
  height: 70vh;
  transition: flex-basis .2s;
  position: absolute;
  top: 22.6vh;
  bottom: 0;
  right: 3vw;
}

.paragraph-5 {
  text-align: center;
}

.sticky-button {
  color: #fff;
  text-align: center;
  background-color: #00bb2c;
  border-radius: 16px;
  min-width: 50px;
  margin-right: 0;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
  position: static;
  top: 25px;
}

.sticky-button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.sticky-button.outline {
  color: #5a5a5a;
  background-color: #0000;
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.sticky-button.contact {
  background-color: #0000;
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px #fff3;
}

.sticky-button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.sticky-button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.sticky-button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.sticky-button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.div-block-20 {
  min-height: 0;
  position: relative;
}

.button-3 {
  position: sticky;
}

.button-4 {
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 15px;
  left: 88.7vw;
  right: auto;
}

.sticky-button-2 {
  color: #fff;
  text-align: center;
  background-color: #00bb2c;
  border: 0 solid #000;
  border-radius: 16px;
  min-width: 50px;
  margin-right: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: padding .7s cubic-bezier(.585, .211, .25, 1), background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
  position: sticky;
  top: 90%;
  left: 85%;
}

.sticky-button-2:hover {
  opacity: 1;
  color: #6b6b6b;
  -webkit-text-fill-color: inherit;
  background-color: #fff;
  background-image: url('../images/Meme_Man_on_transparent_background.webp.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-clip: padding-box;
  border: 0 solid #000;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 45px;
}

.sticky-button-2.outline {
  color: #5a5a5a;
  background-color: #0000;
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.sticky-button-2.contact {
  background-color: #0000;
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px #fff3;
}

.sticky-button-2.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.sticky-button-2.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.sticky-button-2.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.sticky-button-2.form-button:hover {
  color: #fff;
  background-color: #000;
}

.wrapper-copy {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  display: flex;
}

.wrapper-copy.welcome {
  z-index: 90;
  align-items: flex-start;
  width: 100vw;
  position: relative;
}

.wrap-copy {
  text-align: center;
  max-width: 700px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.section-7-copy {
  background-image: linear-gradient(#0048ff70, #0048ff70), url('../images/stocks.881512d9.gif');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 14vh;
  margin-top: 10vh;
  display: flex;
}

.image-8-copy {
  max-width: 55%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  display: block;
}

.image-2-copy {
  flex: none;
  width: auto;
  max-width: 200%;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 0 0 20px 20px #fff3;
}

.heading-8-copy {
  float: left;
  color: #000;
  margin: 0 auto;
  font-size: 25px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section-2.center {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    inset: auto 0 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    background-image: none;
    height: auto;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    background-color: #000;
    min-width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }

  .section-3.center, .section-4.center, .section-5.center, .section-2-copy.center {
    flex-direction: column;
    height: auto;
    padding-top: 15vh;
  }

  .feature-wrap-2 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap-2.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .feature-wrap-3 {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap-3.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-image-2 {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    inset: auto 0 0;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-content.icons {
    text-align: left;
    align-items: flex-start;
    width: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    flex: none;
    align-items: center;
    width: 50%;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }

  .feature-wrap-2 {
    flex-direction: row;
  }

  .feature-wrap-2.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap-2.icons.numbers {
    display: flex;
  }

  .feature-wrap-3 {
    flex-direction: row;
  }

  .feature-wrap-3.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap-3.icons.numbers {
    display: flex;
  }

  .feature-content-2.icons {
    text-align: left;
    align-items: flex-start;
    width: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content-2.icons.numbers {
    flex: none;
    align-items: center;
    width: 50%;
  }

  .hero-image-2 {
    margin-bottom: 10vw;
  }

  .sticky-button.form-button, .sticky-button-2.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap-copy {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section-2 {
    background-image: linear-gradient(0deg, #031f88, #2e459ced 34%, #dde0ef 82%, #fff), url('../images/stocks.881512d9.gif');
    background-position: 0 0, 0 0;
    background-size: auto, auto;
  }

  .section-2.center {
    padding-bottom: 10vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    flex-flow: column;
    flex: 0 auto;
    align-self: flex-start;
    align-items: stretch;
    width: 90vw;
    display: flex;
    overflow: visible;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .title {
    box-sizing: border-box;
    object-fit: fill;
    overflow: visible;
  }

  .image-2 {
    width: 100%;
  }

  .button-wrap {
    flex-direction: column;
    width: 90vw;
  }

  .hero-image {
    width: 80%;
  }

  .hero-image.hero-image-1-mobile {
    width: 100%;
  }

  .black-text {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
  }

  .feature-wrap {
    flex-direction: column;
    margin-top: 3vh;
    margin-bottom: 0;
  }

  .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .hero-subhead {
    max-width: none;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .form-2 {
    flex-direction: column;
    width: 90vw;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }

  .div-block-13 {
    box-sizing: border-box;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    aspect-ratio: auto;
    object-fit: fill;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row dense;
    place-content: start;
    place-items: start;
    display: grid;
    overflow: visible;
  }

  .heading-4 {
    margin-top: 0;
  }

  .heading-4.borders {
    -webkit-text-stroke-width: 1px;
  }

  .paragraph-2 {
    width: auto;
  }

  .image-7 {
    max-width: 50%;
  }

  .section-3 {
    background-image: linear-gradient(180deg, var(--white), #ffffffed 34%, #fff 82%, white), url('../images/arrow.a52c4c40.png');
    background-position: 0 0, 0 0;
    background-size: auto, 114px;
  }

  .section-3.center {
    padding-bottom: 10vh;
  }

  .section-4 {
    background-image: linear-gradient(0deg, #031f88, #2e459ced 10%, #dde0ef 15%, #fff), url('../images/arrow.a52c4c40.png');
    background-position: 0 0, 0 0;
    background-size: auto, auto;
  }

  .section-4.center {
    padding-bottom: 10vh;
  }

  .image-8 {
    max-width: 100%;
  }

  .section-5 {
    background-image: linear-gradient(0deg, #031f88, #2e459ced 10%, #dde0ef 15%, #fff), url('../images/arrow.a52c4c40.png');
    background-position: 0 0, 0 0;
    background-size: auto, auto;
  }

  .section-5.center {
    padding-bottom: 10vh;
  }

  .link-block-3 {
    margin-bottom: 10px;
  }

  .section-7 {
    height: auto;
  }

  .title-2 {
    box-sizing: border-box;
    text-align: left;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }

  .section-2-copy {
    background-image: linear-gradient(0deg, #031f88, #2e459ced 34%, #dde0ef 82%, #fff), url('../images/stocks.881512d9.gif');
    background-position: 0 0, 0 0;
    background-size: auto, auto;
  }

  .section-2-copy.center {
    padding-bottom: 10vh;
  }

  .title-3 {
    box-sizing: border-box;
    object-fit: fill;
    overflow: visible;
  }

  .feature-wrap-2, .feature-wrap-2.reverse {
    flex-direction: column;
  }

  .image-12 {
    max-width: 75%;
  }

  .paragraph-3 {
    overflow-wrap: anywhere;
    object-fit: fill;
    overflow: visible;
  }

  .heading-7 {
    text-align: left;
    word-break: normal;
    overflow-wrap: anywhere;
    margin-top: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .title-4 {
    box-sizing: border-box;
    object-fit: fill;
    overflow: visible;
  }

  .feature-wrap-3 {
    flex-direction: column;
    margin-bottom: 0;
  }

  .feature-wrap-3.reverse {
    flex-direction: column;
  }

  .feature-content-2 {
    flex-flow: column;
    flex: 0 auto;
    align-self: flex-start;
    align-items: stretch;
    width: 90vw;
    display: flex;
    overflow: visible;
  }

  .feature-content-2.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph-4 {
    justify-content: flex-start;
    align-items: center;
  }

  .hero-image-2 {
    width: 80%;
  }

  .hero-image-2.hero-image-mobile {
    position: absolute;
    top: 70.7vh;
  }

  .sticky-button.contact, .sticky-button-2.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap-copy {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .section-7-copy {
    height: auto;
  }

  .image-8-copy {
    max-width: 100%;
  }

  .image-2-copy {
    width: 100%;
    margin-top: 10vh;
  }
}

#w-node-ded0cd3f-7140-8df8-d075-85f8b8d47009-5fad5153 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: auto;
}


